		p {
			font-family: "SFMono-Regular", monospace;
		}
		h1 {
			font-family: "SFMono-Regular", monospace;
		}	
		h2 {
			font-family: "SFMono-Regular", monospace;
		}
		h3 {
			font-family: "SFMono-Regular", monospace;
		}
		body {
			width: 1024px;
			margin: auto;
		}
		hr {
			color: grey;
			opacity: 0.3;
		}
		li {
			font-family: "SFMono-Regular", monospace;
		}